apiVersion: v1
kind: Service
metadata:
  name: drupal
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "drupal-stack.labels" . | nindent 4 }}
    component: drupal
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.drupalPort }}
    targetPort: 80
    {{- if eq .Values.service.type "NodePort" }}
    nodePort: {{ .Values.service.drupalNodePort }}
    {{- end }}
    protocol: TCP
    name: http
  selector:
    app: drupal
