apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "drupal-stack.labels" . | nindent 4 }}
    component: mysql
data:
  primary.cnf: |
    [mysqld]
    log-bin=mysql-bin
    skip-slave-start
  replica.cnf: |
    [mysqld]
    super-read-only
