---
# Inventory Ansible au format YAML
# Utilise les variables du vault pour les credentials

all:
  children:
    # 3-master HA cluster with etcd quorum
    # Tolerates loss of 1 master (quorum 2/3)
    k3s_masters:
      hosts:
        k8s-master-1.example.com:
          ansible_user: your_user
          ansible_ssh_private_key_file: "~/.ssh/id_rsa"
          k3s_master_priority: 1  # First master (bootstrap)
        k8s-master-2.example.com:
          ansible_user: your_user
          ansible_ssh_private_key_file: "~/.ssh/id_rsa"
          k3s_master_priority: 2  # Second master
        k8s-master-3.example.com:
          ansible_user: your_user
          ansible_ssh_private_key_file: "~/.ssh/id_rsa"
          k3s_master_priority: 3  # Third master
      vars:
        k3s_version: v1.33.5+k3s1
        ansible_python_interpreter: /usr/bin/python3
        cluster_domain: cluster.local
        cluster_cidr: 10.42.0.0/16
        service_cidr: 10.43.0.0/16

    # No dedicated workers - all nodes are masters
    k3s_workers:
      hosts: {}

    # k3s_cluster is the union of masters + workers
    k3s_cluster:
      children:
        k3s_masters:
        k3s_workers:

    orchestration:
      hosts:
        k8s-orchestrator.example.com:
          ansible_user: your_user
          ansible_connection: local
